:root {
    --fonte-corpo: 'Montserrat', sans-serif;
    --fonte-titulo: 'Ubuntu', sans-serif;

    --color-green-main: #00B050;
    --color-green-1: #0AA06E;
    --color-green-2: #1FCC6E;
    --color-green-3: #CCF49F;

    --color-dark-blue-main: #00274E;
    --color-dark-blue-main-50: #00274E80;
    --color-dark-blue-main-15: #00274E26;
    --color-dark-blue-1: #001B37;
    --color-dark-blue-2: #003E7C;
    --color-dark-blue-2-20: #003E7C33;
    --color-dark-blue-3: #0059B2;

    --color-blue-main: #08698C;
    --color-blue-1: #2778A0;
    --color-blue-2: #0897CB;
    --color-blue-3: #00C1EB;
    --color-blue-4: #7ACEF9;
    --color-blue-5: #B7E6FF;

    --color-red-main: #FF3857;
    --color-red-1: #E51737;
    --color-red-2: #FF7070;
    --color-red-3: #FFF0F0;

    --color-orange-main: #FF6407;
    --color-orange-1: #D73A08;
    --color-orange-2: #FF863E;
    --color-orange-3: #FFE8D8;

    --color-yellow-1: #FC9700;
    --color-yellow-2: #FFD179;

    --color-neutral-main: #00152a;
    --color-neutral-2: #4D5156;
    --color-neutral-3: #7F92A6;
    --color-neutral-4: #8FB0C1;
    --color-neutral-5: #98C6E0;
    --color-neutral-6: #E2E8F1;
    --color-neutral-7: #F1F4F9;
    --color-neutral-8: #EEFBFF;
    --color-neutral-9: #BDBDBD;
    --color-neutral-10: #535353;
}
